@charset "utf-8";
/* CSS Document */

* {
padding:0;
margin:0;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
/**** Header *****/

#logo {
float:left;	
width:100%;
background-repeat:repeat-x;
}

nav {
  width: 100%;  
}
 
nav ul {
    list-style: none;
    overflow: hidden;
}


nav li a {
   /* If new nav css doesn't look good add this back 
    background: #fff; */
    border-right: 2px solid #fff;
    color: #fff;
    display: block;
    float: left;
    font: 400 13px/1.4 'Cutive', Helvetica, Verdana, Arial, sans-serif;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 10%;
}

.container #globalheader ul li a {
color:#fff;	
}

 /*TRANSISTIONS*/
    -webkit-transition: background 0.5s ease;
       -moz-transition: background 0.5s ease;
         -o-transition: background 0.5s ease;
        -ms-transition: background 0.5s ease;
            transition: background 0.5s ease;
}

 
/*HOVER*/
nav ul li a:hover {
	background:#000;
	
/*background:rgba(0,0,0,0.1);*/
}



/**** Container *****/
.container .one-third.column.pdf {
	width: 300px; 
	background:#d9e2e5;
	border: 1px solid #ccd8dc;
	-moz-box-shadow: inset 0px 1px 1px #FFF;
	-webkit-box-shadow: inset 0px 1px 1px #FFF;
	box-shadow: inset 0px 1px 1px #FFF;
	height:277px;
	margin-bottom:10px;
	padding:10px;
	height:277px;
	margin-left:8px;
}

.container .one-third.column.pdf  ul li {
	margin-bottom:7px;
	list-style-type:none;
	padding-left:15px;
}

.thumb {
	height: 60px;
	width: 60px;
	margin:0px;
	padding:0px;
	float:left;
}

.thumb-link {
height:60px;
margin-left:80px;
padding-top: 8%;
}

#partners {
	list-type-style:none;
}

#partners li {
		display:inline;
}


/**** Media Queries ****/
/* MEDIA QUERIES*/
/* if new nav doesn't look good at these back
@media only screen and (max-width : 766px),
only screen and (max-device-width : 766px){
    nav li a {
        font: 400 9px/1.4 'Cutive', Helvetica, Verdana, Arial, sans-serif;
    }
     
    nav small {
        font: 100 9px/1 Helvetica, Verdana, Arial, sans-serif;
    }
}

 
/*SMALL*/
/* if new nav doesn't look good at these back
nav small {
    color: #aaa;    
    font: 100 11px/1 Helvetica, Verdana, Arial, sans-serif;
    text-transform: none;
     
}
@media only screen and (max-width : 930px),
only screen and (max-device-width : 930px){
    nav li a {
        width: 25%;
        font: 400 11px/1.4 'Cutive', Helvetica, Verdana, Arial, sans-serif;
		border: 1px solid #ccc;
    }
     
     
 
}

*/


/*** Test Nav ***/

#globalheader {
background: #ccc;
background: -o-linear-gradient(top, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0) 97%, rgba(0, 0, 0, .45) 100%), -o-linear-gradient(left, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, 0) .2%, rgba(0, 0, 0, 0) 99.8%, rgba(0, 0, 0, .2) 100%), url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA9QAAAAkCAMAAABfcIIyAAAAGXRF…x%2BeQqLpPJDae9P5%2FmrVz491%2FWekBlKy7PXVfn9rb9xXsMD2wdOcAAAAAElFTkSuQmCC') no-repeat 50% 50%, -o-linear-gradient(bottom, #666 0, #5e5e5e 50%, #707070 51%, #808080 100%);
background: -moz-linear-gradient(top, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0) 97%, rgba(0, 0, 0, .45) 100%), -moz-linear-gradient(left, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, 0) .2%, rgba(0, 0, 0, 0) 99.8%, rgba(0, 0, 0, .2) 100%), url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA9QAAAAkCAMAAABfcIIyAAAAGXRF…x%2BeQqLpPJDae9P5%2FmrVz491%2FWekBlKy7PXVfn9rb9xXsMD2wdOcAAAAAElFTkSuQmCC') no-repeat 50% 50%, -moz-linear-gradient(bottom, #666 0, #5e5e5e 50%, #707070 51%, #808080 100%);
background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, .2)), color-stop(0.05, rgba(0, 0, 0, 0)), color-stop(0.97, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .45))), -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, .2)), color-stop(0.002, rgba(0, 0, 0, 0)), color-stop(0.998, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .2))), url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA9QAAAAkCAMAAABfcIIyAAAAGXRF…x%2BeQqLpPJDae9P5%2FmrVz491%2FWekBlKy7PXVfn9rb9xXsMD2wdOcAAAAAElFTkSuQmCC') no-repeat 50% 50%, -webkit-gradient(linear, 0 100%, 0 0, from(#666), color-stop(0.5, #5e5e5e), color-stop(0.51, #707070), to(#808080));

top:18px;
margin:0 auto;
height:36px;
position: relative;
display: block;
width: 980px;
height: 36px;
margin: 18px auto;
text-align: left;
z-index: 9998;
background: url(../img/globalheader.jpg) repeat-x;
-khtml-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
-khtml-box-shadow: rgba(0,0,0,0.3) 0 1px 2px;
-ms-box-shadow: rgba(0,0,0,0.3) 0 1px 2px;
-o-box-shadow: rgba(0,0,0,0.3) 0 1px 2px;
-moz-box-shadow: rgba(0,0,0,0.3) 0 1px 2px;
-webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 2px;
box-shadow: rgba(0,0,0,0.3) 0 1px 2px;
font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

nav li a:hover {
	background-color: #CCC;
opacity: 0.8;
-khtml-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
-khtml-box-shadow: rgba(0,0,0,0.3) 0 1px 2px;
-ms-box-shadow: rgba(0,0,0,0.3) 0 1px 2px;
-o-box-shadow: rgba(0,0,0,0.3) 0 1px 2px;
-moz-box-shadow: rgba(0,0,0,0.3) 0 1px 2px;
-webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 2px;
box-shadow: rgba(0,0,0,0.3) 0 1px 2px;
}